<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Weather Powered Email</title>
<style>
body {
  font-family: Verdana,Arial,sans-serif;
  width: 1800px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 0.2em;
}
.block {
  display: block;
  width: 7%;
  border: 0.4px solid black;
  background-color: #4CAF50;
  padding: 7px 14px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}
</style>
</head>
<body>
<img src="/static/klaviyo_logo.svg" alt="Klaviyo Logo"> 
<h1>WEATHER POWERED EMAIL</h1>
<hr>
<h2>
email subscriptions will expire after 10 days
<br>
weather powered emails will be sent daily starting at 9 am pacific time
<br>
please check spam folder and ensure emails from "eric.r.xu@gmail.com" make it to your inbox
</h2>
<form action="./klaviyo_weather_app" method="POST">
Email Address: <br>
<textarea rows="1" cols="35" name="i_email"></textarea>
<br><br>
Location: <br>
<input list="cities" placeholder="Where do you live? Choose from list." name="i_city" style="width: 300px;">
<datalist id="cities">
<option value="New York, New York : 5128594" >
<option value="Los Angeles, California : 3882428" >
<option value="Chicago, Illinois : 4887398" >
<option value="Houston, Texas : 2646507" >
<option value="Phoenix, Arizona : 5308655" >
<option value="Philadelphia, Pennsylvania : 4560349" >
<option value="San Antonio, Texas : 4726206" >
<option value="San Diego, California : 5391811" >
<option value="Dallas, Texas : 4684888" >
<option value="San Jose, California : 5392171" >
<option value="Austin, Texas : 4671654" >
<option value="Jacksonville, Florida : 4160021" >
<option value="Fort Worth, Texas : 4691930" >
<option value="Columbus, Ohio : 4509177" >
<option value="San Francisco, California : 5391959" >
<option value="Charlotte, North Carolina : 4460243" >
<option value="Indianapolis, Indiana : 4259418" >
<option value="Seattle, Washington : 5809844" >
<option value="Denver, Colorado : 5419384" >
<option value="Washington, District of Columbia : 4138106" >
<option value="Boston, Massachusetts : 4930956" >
<option value="El Paso, Texas : 5520993" >
<option value="Detroit, Michigan : 4990729" >
<option value="Nashville, Tennessee : 4644585" >
<option value="Portland, Oregon : 5746545" >
<option value="Memphis, Tennessee : 4641239" >
<option value="Oklahoma City, Oklahoma : 4544349" >
<option value="Las Vegas, Nevada : 5506956" >
<option value="Louisville, Kentucky : 4299276" >
<option value="Baltimore, Maryland : 4347778" >
<option value="Milwaukee, Wisconsin : 5263045" >
<option value="Albuquerque, New Mexico : 5454711" >
<option value="Tucson, Arizona : 5318313" >
<option value="Fresno, California : 5350937" >
<option value="Mesa, Arizona : 5304391" >
<option value="Sacramento, California : 5389489" >
<option value="Atlanta, Georgia : 4180439" >
<option value="Kansas City, Missouri : 4393217" >
<option value="Colorado Springs, Colorado : 5417598" >
<option value="Miami, Florida : 4164138" >
<option value="Raleigh, North Carolina : 4487042" >
<option value="Omaha, Nebraska : 5074472" >
<option value="Long Beach, California : 5367929" >
<option value="Virginia Beach, Virginia : 4791259" >
<option value="Oakland, California : 5378538" >
<option value="Minneapolis, Minnesota : 5037649" >
<option value="Tulsa, Oklahoma : 4553433" >
<option value="Arlington, Texas : 4671240" >
<option value="Tampa, Florida : 4174757" >
<option value="New Orleans, Louisiana : 4335045" >
<option value="Wichita, Kansas : 4281730" >
<option value="Cleveland, Ohio : 5150529" >
<option value="Bakersfield, California : 5325738" >
<option value="Aurora, Colorado : 5412347" >
<option value="Anaheim, California : 5323810" >
<option value="Honolulu, Hawaii : 5856195" >
<option value="Santa Ana, California : 5392900" >
<option value="Riverside, California : 5387877" >
<option value="Corpus Christi, Texas : 4683416" >
<option value="Lexington, Kentucky : 4297983" >
<option value="Stockton, California : 5399020" >
<option value="Henderson, Nevada : 5505411" >
<option value="Saint Paul, Minnesota : 5045360" >
<option value="St. Louis, Missouri : 4407066" >
<option value="Cincinnati, Ohio : 4508722" >
<option value="Pittsburgh, Pennsylvania : 5206379" >
<option value="Greensboro, North Carolina : 4469146" >
<option value="Anchorage, Alaska : 5879400" >
<option value="Plano, Texas : 4719457" >
<option value="Lincoln, Nebraska : 5072006" >
<option value="Orlando, Florida : 4167147" >
<option value="Irvine, California : 5359777" >
<option value="Newark, New Jersey : 5101798" >
<option value="Toledo, Ohio : 5174035" >
<option value="Durham, North Carolina : 4464368" >
<option value="Chula Vista, California : 5336899" >
<option value="Fort Wayne, Indiana : 4920423" >
<option value="Jersey City, New Jersey : 5099836" >
<option value="St. Petersburg, Florida : 4171563" >
<option value="Laredo, Texas : 4705349" >
<option value="Madison, Wisconsin : 5261457" >
<option value="Chandler, Arizona : 5289282" >
<option value="Buffalo, New York : 5110629" >
<option value="Lubbock, Texas : 5525577" >
<option value="Scottsdale, Arizona : 5313457" >
<option value="Reno, Nevada : 5511077" >
<option value="Glendale, Arizona : 5295985" >
<option value="Gilbert, Arizona : 5295903" >
<option value="Winston-Salem, North Carolina : 4499612" >
<option value="North Las Vegas, Nevada : 5509403" >
<option value="Norfolk, Virginia : 4776222" >
<option value="Chesapeake, Virginia : 4752186" >
<option value="Garland, Texas : 4693003" >
<option value="Irving, Texas : 4700168" >
<option value="Hialeah, Florida : 4158476" >
<option value="Fremont, California : 5350734" >
<option value="Boise, Idaho : 5586437" >
<option value="Richmond, Virginia : 4781708" >
<option value="Baton Rouge, Louisiana : 4315588" >
<option value="Spokane, Washington : 5811696" >
</datalist>
<br><br><br><br>
<hr>
<button type="submit" class="block" name="i_button">SUBSCRIBE</button>
</form>
</body>
</html>
